.App {
  text-align: center;
  padding: 2rem;
}

.birthday-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.birthday-card {
  background-color: #34cdf3;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(233, 106, 106, 0.1);
}
.birthday-card h1 {
  margin-top: 0;
}

.birthday-card button {
  background-color: #ff6b6b;
  border: rgb(115, 204, 12);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.birthday-card button:hover {
  background-color: #e63c3c;
}