.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-style: inherit;
  background-color: rgb(198, 125, 42);
  padding: 5rem;
}

.birthday-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 1rem;
  margin-top: 2rem;
}

.birthday-card {
  background-color: rgb(214, 58, 58);
  border-radius: 10px;
  font-family: cursive;
  padding: 1rem;
}
.birthday-card h1 {
  font-size: large;
  font: bold;
}

.birthday-card button {
  background-color: #413f3f;
  border: rgb(35, 36, 33);
  color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  border-radius: 12px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer ;

}

.birthday-card button:hover {
  background-color: #000000;
}